<html>
<header><title>This is title</title></header>
<body>
    <%=hello%> <%=name%><br>
    <%=message%>
<div>
    <%= __('This is a translation helper') %> <br>
    <%= __n('You have %s message',messageCount) %> 
</div>
    
</body>
</html>